.boardCard {
    flex-direction: row !important;
    padding: 2.5rem 1rem !important;
}

.boardCard p {
    font-weight: 300;
    font-size: 1.25rem !important;
}

.boardCard .titles p {
    font-weight: 600;
}

.boardCard p + p {
    margin-top: 0.75rem;
}

body {
/ display: flex; /
/ flex-wrap: wrap; /
/ font-family: Arial; /
/ justify-content: center; /
}

h3 {
    text-align: center;
    padding: 0 10px;
}

.tree {
    margin: 18px;
    padding: 0;
}

.tree:not(:empty):before, .tree:not(:empty):after, .tree ul:not(:empty):before, .tree ul:not(:empty):after, .tree li:not(:empty):before, .tree li:not(:empty):after {
    display: block;
    position: absolute;
    content: "";
}

.tree ul, .tree li {
    position: relative;
    margin: 0;
    padding: 0;
}

.tree li {
    list-style: none;
}

.tree li > div {
/ background-color: #eee; /
color: #222;
    padding: 5px;
    display: inline-block;
}

.tree.vertical {
    display: flex;
    justify-content: center;
}

.tree.vertical ul {
    display: flex;
    justify-content: center;
    gap: 0 3rem;
}

.tree.vertical li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tree.vertical li div {
    margin: 12px 6px;
}

.tree.vertical li:before {
    /*border-left: 1px solid #ddd;*/
    height: 18px;
    width: 0;
    top: 0;
}

.tree.vertical li:after {
    /*border-top: 1px solid #ddd;*/
    height: 0;
    width: 100%;
}

.tree.vertical li:first-child:after {
    /*border-top: 1px solid #ddd;*/
    height: 0;
    width: 100%;
    left: 50%;
}

.tree.vertical li:last-child:after {
    /*border-top: 1px solid #ddd;*/
    height: 0;
    width: 50%;
    right: 50%;
}

.tree.vertical li:only-child:after {
    content: none;
}

.tree.vertical li ul li:before {
    height: 7px;
    border-radius: 10px;
    background: var(--primary);
    width: 100%;
}

.tree.vertical > li > ul > li:first-child:before{
    transform: rotate(-30deg);
    right: 0;
    width: 50%;
}

.tree.vertical > li > ul > li:last-child:before {
    transform: rotate(30deg);
    left: 0;
    width: 50%;
}

.tree.vertical > li > ul > li > ul > li:first-child:before {
    transform: rotate(-45deg) translateX(-75%);
    left: 75%;
    width: 50%;
    top: -24%;
}

.tree.vertical > li > ul > li > ul > li:last-child:before {
    transform: rotate(45deg);
    left: 0;
    width: 50%;
    top: -5%;
}

.tree.vertical > li > ul > li > ul > li > ul > li:first-child:before {
    transform: rotate(-45deg) translateX(-50%);
    top: -40%;
    left: 50%;
}

.tree.vertical > li > ul > li > ul > li > ul > li:last-child:before{
    transform: rotate(45deg) translateX(50%);
    top: -40%;
    right: 50%;
}

.tree.vertical > li:only-child:before, .tree.vertical > li:only-child:after {
    content: none;
}

.tree .tree.vertical .cascade, .tree.vertical .tree .cascade, .tree .tree.vertical.cascade-1 > li, .tree .tree.vertical.cascade-2 > li > ul > li, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li {
    flex-direction: column;
    align-items: start;
    padding: 0 12px;
}

.tree .tree.vertical .cascade:before, .tree.vertical .tree .cascade:before, .tree .tree.vertical.cascade-1 > li:before, .tree .tree.vertical.cascade-2 > li > ul > li:before, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li:before, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li:before {
    left: 24px;
}

.tree .tree.vertical .cascade:after, .tree.vertical .tree .cascade:after, .tree .tree.vertical.cascade-1 > li:after, .tree .tree.vertical.cascade-2 > li > ul > li:after, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li:after, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li:after {
    left: 0;
}

.tree .tree.vertical .cascade:first-child:after, .tree.vertical .tree .cascade:first-child:after, .tree .tree.vertical.cascade-1 > li:first-child:after, .tree .tree.vertical.cascade-2 > li > ul > li:first-child:after, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li:first-child:after, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li:first-child:after {
    left: 24px;
    width: 100%;
}

.tree .tree.vertical .cascade:last-child:after, .tree.vertical .tree .cascade:last-child:after, .tree .tree.vertical.cascade-1 > li:last-child:after, .tree .tree.vertical.cascade-2 > li > ul > li:last-child:after, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li:last-child:after, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li:last-child:after {
    left: 0;
    width: 24px;
}

.tree .tree.vertical .cascade ul, .tree.vertical .tree .cascade ul, .tree .tree.vertical.cascade-1 > li ul, .tree .tree.vertical.cascade-2 > li > ul > li ul, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li ul, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li ul, .tree .tree.vertical .cascade li, .tree.vertical .tree .cascade li, .tree .tree.vertical.cascade-1 > li li, .tree .tree.vertical.cascade-2 > li > ul > li li, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li li, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li li {
    display: block;
}

.tree .tree.vertical .cascade ul:before, .tree.vertical .tree .cascade ul:before, .tree .tree.vertical.cascade-1 > li ul:before, .tree .tree.vertical.cascade-2 > li > ul > li ul:before, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li ul:before, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li ul:before, .tree .tree.vertical .cascade ul:after, .tree.vertical .tree .cascade ul:after, .tree .tree.vertical.cascade-1 > li ul:after, .tree .tree.vertical.cascade-2 > li > ul > li ul:after, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li ul:after, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li ul:after, .tree .tree.vertical .cascade li:before, .tree.vertical .tree .cascade li:before, .tree .tree.vertical.cascade-1 > li li:before, .tree .tree.vertical.cascade-2 > li > ul > li li:before, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li li:before, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li li:before, .tree .tree.vertical .cascade li:after, .tree.vertical .tree .cascade li:after, .tree .tree.vertical.cascade-1 > li li:after, .tree .tree.vertical.cascade-2 > li > ul > li li:after, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li li:after, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li li:after {
    border: none;
}

.tree .tree.vertical .cascade div, .tree.vertical .tree .cascade div, .tree .tree.vertical.cascade-1 > li div, .tree .tree.vertical.cascade-2 > li > ul > li div, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li div, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li div {
    margin: 0;
    margin-top: 12px;
}

.tree .tree.vertical .cascade li, .tree.vertical .tree .cascade li, .tree .tree.vertical.cascade-1 > li li, .tree .tree.vertical.cascade-2 > li > ul > li li, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li li, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li li {
    margin-left: 24px;
}

.tree .tree.vertical .cascade li:before, .tree.vertical .tree .cascade li:before, .tree .tree.vertical.cascade-1 > li li:before, .tree .tree.vertical.cascade-2 > li > ul > li li:before, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li li:before, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li li:before {
    border-left: 1px solid #ddd;
    height: 100%;
    width: 0;
    top: 0;
    left: -12px;
}

.tree .tree.vertical .cascade li:after, .tree.vertical .tree .cascade li:after, .tree .tree.vertical.cascade-1 > li li:after, .tree .tree.vertical.cascade-2 > li > ul > li li:after, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li li:after, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li li:after {
    border-top: 1px solid #ddd;
    width: 12px;
    height: 0;
    left: -12px;
    top: 24px;
    content: "";
}

.tree .tree.vertical .cascade li:last-child:before, .tree.vertical .tree .cascade li:last-child:before, .tree .tree.vertical.cascade-1 > li li:last-child:before, .tree .tree.vertical.cascade-2 > li > ul > li li:last-child:before, .tree .tree.vertical.cascade-3 > li > ul > li > ul > li li:last-child:before, .tree .tree.vertical.cascade-4 > li > ul > li > ul > li > ul > li li:last-child:before {
    height: 24px;
    top: 0;
}

.tree.vertical .inviterCard {
    margin: 3rem 0 0;
    padding: 1rem;
}

.treeSec h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    position: relative;
    z-index: 11;
    background: #fff;
    padding: 0.25rem 0.75rem;
}

.treeSec p {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0;
}

.treeSec .inviterCard.invitees.noimg {
    margin: 0;
}

.treeSec .row .row {
    background: #fff;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    padding: 2rem 3.5rem;
    border-radius: 10px;
}

.treeSec .row .row > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.treeSec .row .row .titles p {
    font-size: 1.375rem;
    font-weight: 500;
}

.treeSec .row .row .titles p + p, .treeSec .row .row .info p + p {
    margin-top: 1rem;
}

.treeSec .row .row .info p {
    font-size: 1.125rem;
    font-weight: 400;
}

.treeSec{
    position: relative;
}
